* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 88, 88);
}

.title {
  display: flex;
  justify-content: center;
  margin: 30px 20px;
  color: rgb(72, 16, 94);
}

.workingArea {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* CALCULATOR */
.calculator {
  display: flex;
  justify-content: space-evenly;
  border-left: 6px solid rgb(144, 144, 144);
  border-top: 6px solid rgb(162, 162, 162);
  border-right: 6px solid rgb(25, 25, 25);
  border-bottom: 6px solid black;
  border-radius: 10px;
  background-color: rgb(111, 112, 121);
  padding: 10px;
  width: 400px;
  height: 500px;
  padding: 40px 30px 10px 30px;
}

.left {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 3px;
  height: 470px;
}

.display {
  display: flex;
  justify-content: center;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid rgb(245, 245, 245);
  border-bottom: 2px solid rgb(245, 245, 245);
  margin-bottom: 15px;
  width: 270px;
  height: 56px;
  border-radius: 3px;
  background-color: silver;
}

.operators {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  gap: 3px;
  margin-bottom: 7px;
}

.numbers {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1;
  gap: 3px;
}

/* BUTTONS */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: rgb(72, 16, 94);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 15%;
  border-left: 3px solid rgb(144, 144, 144);
  border-top: 3px solid rgb(162, 162, 162);
  border-right: 3px solid rgb(25, 25, 25);
  border-bottom: 3px solid black;
}

#clear {
  flex: 1 1 0;
  font-size: 1.2rem;
  width: 100px;
  min-height: 50px;
  max-height: 60px;
  margin-bottom: 15px;
  border-radius: 5px;
}


#root-image {
  height: 28px;
}

#prefix-image {
  height: 34px;
}

#delete-image {
  height: 32px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 470px;
  padding: 10px;
  gap: 3px;
}

.right button {
  flex: 1;
  width: 100%;
}

/* OVERVIEW */
.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 200px;
  border-left: 6px solid rgb(144, 144, 144);
  border-top: 6px solid rgb(162, 162, 162);
  border-right: 6px solid rgb(25, 25, 25);
  border-bottom: 6px solid black;
  border-radius: 10px;
  gap: 7px;
  padding: 20px 10px 30px 10px;
  background-color: rgb(72, 16, 94);
}

.historyPanel {
  display: flex;
  background-color: rgb(53, 6, 71);
  min-height: 467px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 1px solid rgb(185, 118, 211);
  border-bottom: 1px solid rgb(185, 118, 211);
  width: 200px;
  border-radius: 3px;
}

h3 {
  color: white;
}
